# infra
google-cloud-storage==1.13.2
sh
# basics
scipy==1.2.0
numpy==1.15.4
#sympy==1.1.*
#numexpr==2.6.*
matplotlib==2.2.*
seaborn==0.8.*
pandas==0.23.4
# ML libraries
scikit-learn
tensorflow==1.12.0
